:root {
  --widget-size: 10vh;
}

#widgets {
  display: block;
  position: fixed;
  top: var(--menu-position-top);
  right: var(--menu-position-left);

  z-index: calc(var(--player-z-index) + 2);

  user-select: none;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.widgets-item {
  border: calc(var(--widget-size) * 0.05) var(--background-color-black) solid;
  margin-bottom: 10%;
}
