:root {
  --widgets-position: 50px;
  --widget-size: 10vh;
}

#widgets {
  display: block;
  position: fixed;
  top: var(--widgets-position);
  right: var(--widgets-position);

  user-select: none;
}
