:root {
  --widget-size: 10vh;
}

#widgets {
  display: block;
  position: fixed;
  top: var(--menu-position);
  right: var(--menu-position);

  z-index: calc(var(--player-z-index) + 2);

  user-select: none;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.widgets-item {
  border: calc(var(--widget-size) * 0.05) var(--background-color-border) solid;
  margin-bottom: 10%;
}
