:root {
  --widgets-position: 50px;
  --widget-size: 7vh;
}

#widgets {
  display: block;
  position: fixed;
  top: var(--widgets-position);
  right: var(--widgets-position);

  user-select: none;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#widgets > * {
  margin-bottom: 10%;
}
