:root {
  --fishing-progress-bar-init-height: none;
  --fishing-progress-bar-height: none;
}

#fishing-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: calc(var(--player-z-index) + 3);
  background-color: transparent;
  opacity: 1;
  transform: translate(-50%, -50%);

  display: flex;
}

#fishing-canvas-container {
  position: relative;
}

#fishing-progress-bar {
  width: 40px;
  height: 100%;
  border-radius: var(--action-border-radius);
  mask: linear-gradient(#fff 0 0);
  margin-top: auto;

  height: var(--fishing-progress-bar-height);
  margin-right: 10px;
}

#fishing-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, red, green);

  height: var(--fishing-progress-bar-init-height);
}
