:root {
  --fishing-progress-bar-init-height: none;
  --fishing-progress-bar-height: none;
}

#fishing-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: calc(var(--player-z-index) + 3);
  background-color: transparent;
  opacity: 1;
  transform: translate(-50%, -50%);

  display: flex;
}

#fishing-canvas-container {
  position: relative;
}

#fishing-line-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#fishing-progress-bar {
  width: 40px;
  height: 100%;
  border-radius: var(--action-border-radius);
  mask: linear-gradient(#fff 0 0);
  margin-top: auto;

  height: var(--fishing-progress-bar-height);
  margin-right: 10px;
}

#fishing-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, red, green);

  height: var(--fishing-progress-bar-init-height);
}

#fishing-fish {
  transition: top 250ms ease, left 250ms ease;

  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-name: shake;
}

@keyframes gelatine {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(0.5, 1.5);
  }
  66% {
    transform: scale(1.5, 0.5);
  }
  100% {
    transform: scale(0.5, 1.5);
  }
}

@keyframes skew {
  0% {
    transform: skew(0);
  }
  33% {
    transform: skew(25deg, 25deg);
  }
  66% {
    transform: skew(-25deg, -25deg);
  }
  100% {
    transform: skew(25deg, 25deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wobble {
  33% {
    transform: rotate(25deg);
  }
  66% {
    transform: rotate(-25deg);
  }
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(25deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
