#health-container {
  display: flex;
  margin-bottom: 7px;
}

#health-container > * {
  --entity-size: 16px;

  position: relative;
  margin-right: 1px;
}

#health-container > *.filled {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-name: heart-animation;
}

@keyframes heart-animation {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(0.95, 1.05);
  }
  66% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(0.95, 1.05);
  }
}
