#map-canvas.full-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: calc(var(--player-z-index) + 2);
  background: var(--background-color);
  opacity: 0.7;
  transform: translate(-50%, -90%);
}
