:root {
  --mobile-margin: 25px;
}

#mobile-hud {
  display: none;
  position: fixed;
  z-index: calc(var(--player-z-index) + 2);
  bottom: 0;

  margin: 0 var(--mobile-margin);
  width: calc(100vw - (var(--mobile-margin) * 2));
}
#mobile-hud > * {
  position: absolute;
  user-select: none;
}

#selection-stick-left {
  bottom: 20vh;
  left: 0;
}
#selection-stick-right {
  bottom: 20vh;
  right: 0;
}

#mobile-hud > img {
  bottom: 0;
  width: 46px;
  height: 46px;
  transition: bottom 50ms ease-out;
}
#mobile-hud > img:active {
  bottom: -16px;
}

#rotate-left {
  left: 0;
}
#rotate-right {
  right: 0;
}

#change-poly {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  background-color: var(--background-color);
  padding: max(0.75vw, 10px);
  border-radius: var(--action-border-radius);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#change-poly > img {
  width: 16px;
  height: 16px;
}
#change-poly > img:not(:first-child) {
  margin-left: 5px;
}

.long-arrow-right {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(135deg);
}

@media (max-width: 450px) {
  .hide-mobile {
    display: none;
  }

  #mobile-hud {
    display: block;
  }

  #toolbar > * {
    border: none !important;
  }
}

@media (max-height: 450px) {
  #toolbar {
    bottom: 15vh !important;
  }

  #selection-stick-left {
    bottom: 25vh;
  }
  #selection-stick-right {
    bottom: 25vh;
  }
}
