#main-container {
  --container-margin: 20px;

  margin: var(--container-margin);
  width: calc(100vw - 2 * var(--container-margin));
  height: calc(100vh - 2 * var(--container-margin));
  border: 1px solid black;
}

#battle-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
