:root {
  --container-margin: 20px;
}

#main-container {
  display: flex;

  margin: var(--container-margin);
  width: calc(100vw - 2 * var(--container-margin));
  height: calc(100vh - 2 * var(--container-margin));
}

#battle-container {
  position: relative;
  width: 85%;
  height: 100%;
  border: 1px solid black;
}

#infos-container {
  padding-left: var(--container-margin);
  height: 100%;
  width: 15%;
}

#infos-container > * {
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  #main-container {
    flex-direction: column;
  }
  #battle-container {
    width: 100%;
    height: 100%;
  }
  #infos-container {
    padding-left: 0;
    padding-top: var(--container-margin);
    height: 100%;
    width: 100%;
  }
}
