:root {
  --action-color: rgba(207, 207, 207, 0.4);
  --action-border-radius: 12px;

  --background-color: #cdcdcd;
  --background-color-black: #232323;
  --active-color: #6e79d6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--background-color-black);
}

html,
body {
  overscroll-behavior: contain;
  position: fixed;

  background: var(--background-color);
}

#container {
  position: relative;
  width: 100vw;
}

*.hide {
  display: none !important;
}
