#draw-container {
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

#draw-container > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas-ground {
  z-index: 0;
}

#canvas-wall {
  z-index: 1;
}
