:root {
  --canvas-height: 100%;
  --canvas-width: 100%;

  --transition-duration: 500ms;
  --transition-duration: 500ms;

  --rotate-deg: 0;
}

#draw-container,
#canvas-container {
  z-index: 0;
  margin: 0 auto;
  position: relative;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

#canvas-container.perspective {
  transform: perspective(50px) rotateX(1deg);
  margin-top: -70px;
}

#canvas-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas-container canvas:nth-child(1) {
  z-index: 1;
}
#canvas-container canvas:nth-child(2) {
  z-index: 2;
}
#canvas-container canvas:nth-child(3) {
  z-index: 3;
}

#draw-container,
#entities img {
  transition-property: scale;
  transition-duration: var(--transition-duration);
}
#draw-container.rotate,
#entities.rotate img {
  transition-property: transform, scale;
  transform: rotate(var(--rotate-deg));
}
#draw-container.zoom-in,
#entities.zoom-in img {
  scale: 2.5;
}
