:root {
  --menu-position: 50px;
  --menu-width: 400px;
  --menu-padding: 25px;

  --menu-animation-time: 0.5s;
  --menu-animation-curve: cubic-bezier(0.77, 0.2, 0.05, 1);

  --hamburger-slice-height: 4px;
  --hamburger-slice-width: 33px;
  --hamburger-slice-magin: 5px;

  --menu-checkbox-margin: 7px;
  --menu-checkbox-height: calc(
    ((var(--hamburger-slice-height) + var(--hamburger-slice-magin)) * 2.5) +
      (var(--menu-checkbox-margin) * 2)
  );
}

#menu-container {
  display: block;
  position: fixed;
  top: var(--menu-position);
  left: var(--menu-position);

  z-index: 2;

  user-select: none;
}

#menuToggle {
  display: block;
  width: calc(var(--hamburger-slice-width) + (2 * var(--menu-checkbox-margin)));
  height: var(--menu-checkbox-height);
  position: absolute;
  top: calc(var(--menu-checkbox-margin) * -1);
  left: calc(var(--menu-checkbox-margin) * -1);

  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

.hamburger-slice {
  display: block;
  width: var(--hamburger-slice-width);
  height: var(--hamburger-slice-height);
  margin-bottom: var(--hamburger-slice-magin);
  position: relative;

  background: var(--background-color);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform var(--menu-animation-time) var(--menu-animation-curve),
    margin-top var(--menu-animation-time) var(--menu-animation-curve),
    background var(--menu-animation-time) var(--menu-animation-curve),
    opacity var(--menu-animation-time) ease;
}

.hamburger-slice:nth-child(3) {
  transform-origin: 0% 100%;
}

#menuToggle:checked ~ .hamburger-menu .hamburger-slice {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px) scale(1.3, 1.3);
  background: var(--background-color-black);
}

#menuToggle:checked ~ .hamburger-menu .hamburger-slice:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle:checked ~ .hamburger-menu .hamburger-slice:nth-child(3) {
  margin-top: 12px;
  transform: rotate(-45deg) translate(0, -1px) scale(1.3, 1.3);
}

#menu {
  position: absolute;
  width: var(--menu-width);
  max-height: 100vh;
  max-width: 100vw;
  padding: var(--menu-padding);
  padding-top: calc(
    var(--menu-padding) + var(--menu-checkbox-height) + var(--menu-position)
  );
  padding-left: var(--menu-position);
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--action-color);
  border-radius: var(--action-border-radius);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  margin-top: calc((var(--menu-position) + var(--menu-checkbox-height)) * -1);
  margin-left: calc(var(--menu-position) * -1);
  left: calc(var(--menu-width) * -1);

  transform-origin: 0% 0%;
  transform: none;

  transition: transform var(--menu-animation-time) var(--menu-animation-curve);
}

#menuToggle:checked ~ #menu {
  transform: translate(var(--menu-width), 0);
}

#menu li {
  padding: 10px 0;
}

#menu li p {
  font-weight: normal;
  margin: -10px 0;
}
