#rotate-left {
  bottom: 0;
  left: 0;
}
#rotate-right {
  bottom: 0;
  right: 0;
}

#dig {
  bottom: 50px;
  left: 0;
}
#place {
  bottom: 50px;
  right: 0;
}

#change-poly {
  bottom: 100px;
  left: 0;
}
#use-boat {
  bottom: 100px;
  right: 0;
}

#mobile-hud button {
  background-color: var(--action-color);
  border-radius: var(--action-border-radius);
  padding: 12px;
  font-size: 12px;

  position: absolute;
}

#mobile-hud {
  display: none;
  position: relative;
  z-index: var(--player-z-index);
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  #mobile-hud {
    display: block;
  }
}
