#toolbar {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translate(-50%);
  z-index: calc(var(--player-z-index) + 2);

  display: flex;
  background-color: var(--background-color);
  padding: max(0.75vw, 10px);
  border-radius: var(--action-border-radius);
}

#toolbar > * {
  background-color: #8b8b8b;
  height: max(3vw, 50px);
  width: max(3vw, 50px);
  position: relative;
  border: 5px transparent solid;

  cursor: pointer;
  border-radius: var(--action-border-radius);
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#toolbar > *:not(:first-child) {
  margin-left: max(0.75vw, 10px);
}

#toolbar > *.toolbar-selected {
  border: 5px var(--background-color-border) solid;
}

#toolbar > * > p {
  position: absolute;
  top: max(0.1vw, 2px);
  left: max(0.1vw, 2px);
  font-size: max(0.75vw, 15px);

  user-select: none;
}

#toolbar > * > img {
  position: absolute;
  object-fit: cover;
  object-position: 0 0;
  image-rendering: pixelated;
  user-select: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: max(2.5vw, 40px);
  width: max(2.5vw, 40px);

  user-select: none;
}

#map-canvas.full-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: calc(var(--player-z-index) + 2);
  background: var(--background-color);
  opacity: 0.7;
  transform: translate(-50%, -88%);
}
