:root {
  --active-color: #6e79d6;
  --active-color-hover: #535db3;

  --input-border-radius: 72px;

  --input-height: 20px;
}

label {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

button {
  appearance: none;
  background-color: var(--active-color);
  border-style: none;
  position: relative;

  height: var(--input-height);
  border-radius: var(--input-border-radius);

  padding: 0 10px;

  cursor: pointer;
}

button:hover {
  background-color: var(--active-color-hover);
}

button:disabled {
  cursor: default;
}

button:disabled:hover {
  background-color: var(--active-color);
}
