:root {
  --input-thumb-color: #fff;
  --input-empty-color: #dfe1e4;
  --input-empty-color-hover: #c9cbcd;
  --active-color-hover: #535db3;

  --input-transition: all 100ms ease-out;
  --input-border-radius: 72px;
}

label {
  display: flex;
  cursor: pointer;

  align-items: center;
  justify-content: space-between;
}

label > * {
  flex: 1;
}

label input,
label select {
  margin-left: 12px;
}
