:root {
  --checkbox-height: 20px;
  --checkbox-width: 30px;

  --checkbox-check-size: 14px;
  --checkbox-check-margin: 3px;
}

.checkbox {
  appearance: none;
  background-color: var(--input-empty-color);
  border-style: none;
  flex-shrink: 0;
  position: relative;

  height: var(--checkbox-height);
  max-width: var(--checkbox-width);
  border-radius: var(--input-border-radius);

  cursor: pointer;
}

.checkbox:hover {
  background-color: var(--input-empty-color-hover);
}

.checkbox,
.checkbox::after {
  transition: var(--input-transition);
}

.checkbox::after {
  background-color: var(--input-thumb-color);
  border-radius: 50%;
  content: "";
  position: absolute;

  height: var(--checkbox-check-size);
  width: var(--checkbox-check-size);
  left: var(--checkbox-check-margin);
  top: var(--checkbox-check-margin);
}

.checkbox:checked {
  background-color: var(--active-color);
}

.checkbox:checked::after {
  left: calc(
    var(--checkbox-width) - var(--checkbox-check-margin) -
      var(--checkbox-check-size)
  );
}

.checkbox:checked:hover {
  background-color: var(--active-color-hover);
}
