:root {
  --range-thumb-size: 200px;
}

input[type="range"] {
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--input-empty-color);
  transition: var(--input-transition);
  border-radius: var(--input-border-radius);
}

input[type="range"]:hover {
  background-color: var(--input-empty-color-hover);
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  appearance: none;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background-color: var(--input-thumb-color);
  box-shadow: calc(var(--range-thumb-size) * -1) 0 0 var(--range-thumb-size)
    var(--input-select-color);
}

input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: calc(var(--range-thumb-size) * -1) 0 0 var(--range-thumb-size)
    var(--input-select-color-hover);
}
